//fonts
$medium-font: "HelveticaNeueCyr-Medium", sans-serif;
$bold-font: "HelveticaNeueCyr-Bold", sans-serif;
$roman-font: "HelveticaNeueCyr-Roman", sans-serif;

//colors
$accent: #ff3e41;
$white: #fff;
$text-light-gray: #cbcecf;
$text-gray: #7f8589;
$text-dark: #454545;
$bg-color-dark: #1b1f22;
$bg-color-light: #f5f5f5;
$card-bg-color-dark: #25292c;
$card-bg-color-light: #f5f5f5;
$stroke: #e3e3e3;

//border
$border-radius: 30px;
$border: 1px solid $white;

//input
$input-higth: 54px;
$header-higth: 73px;

//container
$container-width: 1314px;
$container-padding-x: 15px;

$transition-duration: 0.2s ease-in;

//media
$tablet: 990px;
$smartphone: 767px;
