@charset "UTF-8";
@import "./fonts/fonts-link.css";
body {
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  background-color: #1b1f22 !important;
  color: #cbcecf;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ff3e41;
}

.container {
  max-width: 1344px;
  margin-inline: auto;
  padding-inline: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

p {
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.title-medium {
  font-size: clamp(24px, 2.08vw, 40px);
  line-height: 1.3;
  color: #fff;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.input {
  width: 100%;
  height: 54px;
  padding-inline: 25px;
  color: #fff;
  background-color: transparent;
}
.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.light {
  background-color: #fff;
}

.section__description {
  color: #fff;
  line-height: 1.65;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section__description {
    font-size: 16px;
  }
}

.content {
  padding-block: 100px;
}

.scroll-down {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}
.scroll-down img {
  transform: rotate(90deg);
}

section {
  margin-block: 100px;
}
section .light {
  background-color: #fff;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: transparent;
}
.btn__blur {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 32px;
}
.btn__blur::after {
  position: absolute;
  content: ".";
  line-height: 1.755;
  width: 72px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid #7f8589;
  top: -50%;
  right: -80%;
  color: #ff3e41;
}
.btn__blur::after::after {
  color: #ff3e41;
  content: "";
  position: absolute;
}
.btn__blur::before {
  position: absolute;
  content: url(../../../src/images/main2.png);
  display: inline-block;
  filter: blur(7px);
  transform: scale(0.7);
  aspect-ratio: 1;
  top: 100%;
  translate: -10% -50%;
  z-index: -1;
}
.btn__banner-buy {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: #cbcecf;
  font-size: 16px;
  border-bottom: 2px solid #cbcecf;
}
.btn__banner-buy::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 20px;
  background-color: #cbcecf;
}
.btn__product {
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.btn__arguments {
  row-gap: 30px;
}
.btn__argument {
  padding-block: 10px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 53px;
  border: 1px solid #454545;
}
.btn__argument:hover {
  color: #fff;
  border: 2px solid currentColor;
}
.btn__action-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fff;
  gap: 16px;
  margin-block: 15px;
  border-bottom: 1px solid #25292c;
  width: 100%;
  margin-bottom: 60px;
}

.products__next-btn {
  transform: rotate(180deg);
}

.products__item-footer-part > .red {
  background-color: #ff3e41;
}
.products__item-footer-part > .red svg {
  filter: invert(1);
}

.black {
  background-color: #1b1f22;
}
.black svg {
  filter: invert(1);
}

.selected {
  font-weight: bold;
  position: relative;
}
.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 1px;
  width: 100%;
  background-color: #1b1f22;
}

a.red {
  color: #ff3e41;
  text-decoration: underline;
}
a.underlined {
  position: relative;
}
a.underlined::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #cbcecf;
}

.banner__video-play {
  padding-top: 60px;
  position: relative;
  height: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: 0.1rem;
  transform: rotate(-30deg);
}
.banner__video-play::before {
  position: absolute;
  content: url("../../../src/icons/Play-2.svg");
  transform: rotate(30deg);
}

span {
  display: inline-block;
  width: 25px;
  position: absolute;
  transform: translate(0, 80%) rotate(var(--rot)) translate(0, -60px);
}

.banner {
  position: relative;
  min-height: calc(100vh - 73px);
  padding-top: 73px;
}
.banner__video {
  display: flex;
  justify-content: space-between;
}
.banner__video-title {
  position: relative;
  font-size: 32px;
  color: #cbcecf;
  line-height: 1.35;
}
.banner__video-title::before {
  position: absolute;
  content: attr(data-list);
  font-size: 13px;
  transform: rotate(-90deg);
  width: 200px;
  left: -180px;
  top: 85px;
  letter-spacing: 5px;
}
.banner__video-title::after {
  position: absolute;
  content: attr(data-red);
  color: #ff3e41;
  font-size: 13px;
  transform: rotate(-90deg);
  left: -92px;
  top: 10px;
  letter-spacing: 5px;
}
.banner__center-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__img-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
}
.banner__rigth {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: end;
  width: 600px;
}
.banner__title {
  position: relative;
  font-size: 72px;
  line-height: 1.25;
}
.banner__title::before {
  position: absolute;
  content: url(../../../src/images/main1.png);
  top: 100%;
  right: 100%;
  translate: -10% -50%;
}
.banner__subtitle {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.banner__subtitle::before {
  position: absolute;
  content: "";
  width: 88px;
  height: 1px;
  background-color: #fff;
  left: -112px;
  top: 12px;
}
.banner__bottom {
  position: absolute;
  left: -107px;
  bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 185px;
}
.banner__bottom-list {
  display: flex;
  min-width: 1440px;
  justify-content: space-between;
  align-items: end;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 73px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-inline: 80px;
  border-bottom: 1px solid #292b32;
}
@media screen and (max-width: 990px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media screen and (max-width: 990px) {
  .header__menu {
    order: 1;
    flex-basis: 100%;
  }
}
.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 767px) {
  .header__menu-list {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.header__menu-item {
  font-size: 12px;
}
.header__menu-link {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  text-transform: uppercase;
  -moz-tab-size: 12px;
    -o-tab-size: 12px;
       tab-size: 12px;
  letter-spacing: 1.2;
  -moz-column-gap: 7px;
       column-gap: 7px;
  color: #cbcecf;
}
.header__menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .header__menu-link {
    height: 32px;
  }
}
.header__actions {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__actions {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.header__search {
  display: flex;
  align-items: center;
  background-color: #25292b; /* Цвет фона инпута */
  border-radius: 5px;
  padding-right: 10px; /* Добавлено правое отступание */
  width: 474px;
}
.header [type=search] {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 14px 20px;
  color: #ffffff; /* Белый текст */
  font-size: 12px;
  flex: 1; /* Изменено для занимания всего доступного пространства */
  background-color: #25292b; /* Цвет фона инпута */
}
.header .search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header .fas.fa-search {
  color: #ffffff; /* Белый цвет для иконки */
}
.header__burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 7px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
}
.header__burger-button:hover {
  border-color: currentColor;
  color: #ff3e41;
}
.header__burger-button-line {
  width: 8px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}
.advantages__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}
.advantages__card {
  display: flex;
  border-radius: 28px;
  overflow: hidden;
  background-color: #25292c;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  margin: 80px 72px;
  width: 100%;
}
.advantages__item-wrapper {
  display: flex;
  gap: 75px;
}
.advantages__center {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}
.advantages__left .advantages__text {
  padding-bottom: 270px;
}
.advantages__title {
  font-size: 40px;
  line-height: 1.3;
  color: #fff;
  padding-block: 25px;
}
.advantages__title.centered {
  position: relative;
  text-align: center;
}
.advantages__title.centered::after {
  content: url(../../../src/images/advantages/advantages2.png);
  position: absolute;
  top: 120%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  aspect-ratio: 1;
}
.advantages__table {
  width: 100%;
  position: relative;
}
.advantages__table th {
  margin-top: 70px;
  padding-block: 20px;
  text-transform: uppercase;
  color: #7f8589;
}
.advantages__table td {
  line-height: 2.6;
  padding-top: 6px;
  color: #cbcecf;
  font-size: 16px;
  border-bottom: 1px solid #454545;
}
.advantages__table tr:last-child td {
  border-bottom: none;
}
.advantages__table tr td:last-child {
  text-align: right;
}
.advantages__table tr:last-child td:last-child {
  text-align: left;
}
.advantages__table tr:last-child td:last-child.align-right {
  text-align: right;
}
.advantages__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.advantages #item-0 {
  position: relative;
  grid-area: 1/1/3/3;
  display: flex;
  align-items: flex-start;
  padding-top: 77px;
  padding-left: 72px;
  flex-direction: column;
  margin-bottom: 130px;
  height: 100%;
  z-index: -1;
}
.advantages #item-0 img {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.advantages #item-1 {
  grid-area: 1/3/2/6;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  padding-left: 72px;
  padding-block: 107px;
  width: 100%;
}
.advantages #item-1 img {
  position: absolute;
  height: 310px;
  right: 0;
  bottom: 0;
}
.advantages #item-2 {
  grid-area: 2/3/3/6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.advantages__card-text-center {
  gap: 14px;
}
.advantages__card-grid-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 56px;
}
.advantages__card-grid {
  background-color: #25292c;
  border-radius: 28px;
  overflow: hidden;
}
.advantages__card-grid .btn__banner-buy {
  display: flex;
  text-align: end;
}
.advantages__card-grid p {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0;
  width: 316px;
}
.advantages__subtitle {
  font-size: 24px;
  color: #fff;
  line-height: 1.5;
}
.advantages__text {
  line-height: 1.8;
  color: #cbcecf;
}
.advantages__big-text {
  font-size: 200px;
  line-height: 1.35;
}

.products {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.products__title {
  color: #454545;
  text-align: center;
  font-size: 40px;
  line-height: 1.35;
  padding-top: 100px;
  padding-bottom: 60px;
}
.products__toggles {
  display: flex;
  gap: 55px;
  position: relative;
}
.products__toggles::after {
  position: absolute;
  content: "";
  width: 200%;
  height: 1px;
  left: -50%;
  bottom: 9px;
  background-color: #cbcecf;
}
.products__toggle-prod {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  line-height: 1.35;
  gap: 20px;
}
.products__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.35;
  color: #1b1f22;
}
.products__toggles-catalog {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 18px;
  line-height: 1.35;
  color: #1b1f22;
}
.products__toggles-catalog::before {
  content: url(../../../src/icons/Menu.svg);
  margin-top: 7px;
}
.products__items {
  display: flex;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}
.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 35px;
  padding: 40px 40px 40px 48px;
  height: -moz-max-content;
  height: max-content;
  width: 418px;
  height: 595px;
}
.products__item-title {
  text-wrap: pretty;
  font-size: 18px;
  color: #454545;
  line-height: 1.5;
}
.products__item-img {
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 50px;
}
.products__item-footer {
  display: flex;
  align-self: end;
  justify-content: space-between;
  align-items: stretch;
}
.products__item-footer-part h2 {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 13px;
  color: #cbcecf;
  text-transform: none;
}
.products__item-price {
  color: #454545;
  font-size: 24px;
}
.products__item-price-discount {
  color: #cbcecf;
  text-decoration: line-through;
  font-size: 24px;
  padding-right: 10px;
}
.products .slick-slide {
  margin-left: 30px;
}
.products .slick-slider {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.slick-slide {
  margin-inline: 15px;
}

.arguments {
  padding-top: 100px;
  padding-bottom: 130px;
}
.arguments__title {
  font-size: 40px;
  color: #fff;
  letter-spacing: 1.35;
  text-align: center;
  padding-bottom: 80px;
}
.arguments__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-sizing: content-box;
  width: 100%;
}
.arguments__card {
  background-color: #25292c;
  border-radius: 28px;
  height: 700px;
  padding-block: 80px;
  padding-inline: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arguments__card-socials {
  background-color: #25292c;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 36px;
  padding-right: 22px;
  padding-left: 32px;
}
.arguments__card-socials.blue {
  background-color: #259cd8;
}
.arguments__card-socials.blue .arguments__social {
  color: #fff;
}
.arguments__card-title {
  font-size: 32px;
  line-height: 1.35;
  color: #fff;
  display: flex;
  align-items: end;
  padding-bottom: 60px;
}
.arguments__card-title p {
  font-size: 192px;
  line-height: 0.8;
  text-wrap: nowrap;
}
.arguments__card-text {
  font-size: 15px;
  line-height: 1.7;
  padding-bottom: 80px;
  width: 454px;
}
.arguments__company-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 40px;
  align-items: center;
  margin-bottom: 50px;
}
.arguments__company-logo {
  width: -moz-max-content;
  width: max-content;
}
.arguments__social {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: lowercase;
  color: #7f8589;
}
.arguments__social-name {
  font-size: 22px;
  line-height: 1.5;
}
.production__items {
  gap: 72px;
}
.production__items .slick-list {
  max-width: 1314px;
  margin-inline: 7px;
}
.production__item {
  position: relative;
  max-width: 418px;
  border-radius: 28px;
  overflow: hidden;
  margin-inline: 15px;
}
.production__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с непрозрачностью 0.3 */
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.3s ease;
  background-image: url("../../../src/icons/production/Zoom-in.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.production__item:hover::before {
  opacity: 1; /* Показать SVG при наведении */
}
.production__prev-btn {
  color: #7f8589;
}
.production__next-btn {
  transform: rotate(180deg);
  color: #7f8589;
}
.production__items-grid {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
}
.production__item-grid {
  position: relative;
  border-radius: 28px;
  overflow: hidden;
  margin-inline: 15px;
}
.production__item-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с непрозрачностью 0.3 */
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.3s ease;
  background-image: url("../../../src/icons/production/Zoom-in.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.production__item-grid:hover::before {
  opacity: 1; /* Показать SVG при наведении */
}
.production .slick-dots li.slick-active button:before {
  color: #f5f5f5;
}
.production .slick-dots li button:before {
  color: #7f8589;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: none;
  margin-bottom: 80px;
}

.infocenter {
  padding-block: 100px;
}
.infocenter img {
  border-radius: 28px;
  height: 289px;
  margin-bottom: 32px;
}
.infocenter__prev-btn {
  color: #7f8589;
}
.infocenter__next-btn {
  transform: rotate(180deg);
  color: #454545;
}
.infocenter__items {
  width: 1314px;
  height: 538px;
  margin-bottom: 50px;
}
.infocenter__item {
  width: 418px;
  height: 538px !important;
  background-color: #f5f5f5;
  border-radius: 28px;
  position: relative;
}
.infocenter__item-content {
  padding-inline-start: 32px;
  padding-inline-end: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infocenter__news {
  color: #ff3e41;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.35;
  font-weight: 300;
  margin-bottom: 24px;
}
.infocenter__item-title {
  color: #454545;
  font-size: 20px;
  line-height: 1.5;
  width: 350px;
  height: 90px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Ограничивает количество строк */
  line-clamp: 3;
}
.infocenter__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-inline: 32px;
  padding-bottom: 32px;
}
.infocenter__date {
  font-size: 14px;
  line-height: 1.35;
  color: #cbcecf;
}
.infocenter__link svg {
  color: #000;
}
.infocenter__all-posts {
  color: #7f8589;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.35;
  text-transform: uppercase;
  width: -moz-max-content;
  width: max-content;
  display: block;
  margin: 0 auto; /* Центрирует элемент по горизонтали */
  text-align: center; /* Выравнивает текст внутри блока по центру */
}
.infocenter__all-posts::after {
  content: "";
  display: block;
  border-bottom: 2px solid #1b1f22; /* Цвет и стиль линии */
}
.infocenter .title {
  color: #454545;
}

.footer {
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  bottom: 80px;
  left: -50%;
  width: 170.77%;
  height: 1px;
  background-color: #454545; /* Цвет линии-разделителя */
}
.footer__list-title {
  display: block;
  font-size: 15px;
  line-height: 1.25;
  color: #f5f5f5 !important;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer_phone-number {
  display: block;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 1;
}
.footer__lists {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr;
  margin-bottom: 50px;
}
.footer__list:nth-child(3) li:nth-child(5) a {
  display: block;
  margin-bottom: 32px;
}
.footer__address {
  font-size: 15px;
  line-height: 1.5;
  color: #7f8589;
  gap: 15px;
}
.footer__adrs-title {
  margin-top: 60px;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 1.25;
  font-weight: 700;
  color: #fff;
}
.footer li {
  list-style-type: none;
  padding-block: 5px;
}
.footer li a {
  font-size: 15px;
  line-height: 1.25;
  color: #7f8589;
}
.footer__copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.footer__copyright p {
  color: #7f8589;
}
li {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */