.products {
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // flex-direction: column;
  // height: max-content;
  margin-top: 100px;
  // padding-bottom: 100px;
  &__title {
    color: $text-dark;
    text-align: center;
    font-size: 40px;
    line-height: 1.35;
    padding-top: 100px;
    padding-bottom: 60px;
  }

  // .products__toggles

  &__toggles {
    display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 55px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 200%;
      height: 1px;
      left: -50%;
      bottom: 9px;
      background-color: $text-light-gray;
      // z-index: -1;
    }
  }

  &__toggle-prod {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    line-height: 1.35;
    gap: 20px;
  }

  // .products__toggle

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.35;
    color: $bg-color-dark;
  }

  // .products__toggles-catalog

  &__toggles-catalog {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-size: 18px;
    line-height: 1.35;
    color: $bg-color-dark;
    &::before {
      content: url(../../../src/icons/Menu.svg);
      margin-top: 7px;
    }
  }

  // .products__items

  &__items {
    display: flex;
    height: max-content;
    width: 100%;
    // padding-bottom: 100px;

    // width: 100%;
  }

  // .products__item

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $bg-color-light;
    border-radius: 35px;
    padding: 40px 40px 40px 48px;
    height: max-content;
    //
    //
    width: 418px;
    height: 595px;
  }

  // .products__item-title

  &__item-title {
    // width: 220px;
    text-wrap: pretty;

    font-size: 18px;
    color: $text-dark;
    line-height: 1.5;
  }

  // .products__item-img

  &__item-img {
    height: max-content;
    padding-bottom: 50px;
  }

  // .products__item-footer

  &__item-footer {
    display: flex;
    align-self: end;
    justify-content: space-between;
    align-items: stretch;
  }

  // .products__item-footer-part

  &__item-footer-part {
    & h2 {
      font-family: $roman-font;
      font-size: 13px;
      color: $text-light-gray;
      text-transform: none;
    }
  }

  // .products__item-price

  &__item-price {
    color: $text-dark;
    font-size: 24px;

    &-discount {
      color: $text-light-gray;
      text-decoration: line-through;
      font-size: 24px;
      padding-right: 10px;
    }
  }
  & .slider-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 56px;
    margin-bottom: 100px;
  }
  & .slick-slide {
    margin-left: 30px;
  }
  & .slick-slider {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}
